@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Bâtir avec <a href="https://learn.microsoft.com/aspnet/core"> ASP.NET</a>.</p>
</div>
